<div class="section footer-bottom">


      <div class="container"> 
         <div class="row"> 
             <div class="col-md-4 col-sm-6 col-xs-12 footer-section-container text-left"> 
             <a href="#" class="m-bot-20 footer-logo"><img src="/assets/images/logo.png"/> </a>
            <p class="footer-text m-top-20"> Our CapImpact predictive platform analyzes market capability profiles, benchmark technology decay & adoption rates to identify emerging oppertunities into where to play given a competitive environment. </p>
            </div>  
            <div class="col-md-3 col-sm-6 col-xs-12 footer-section-container"> 
                 <div class="footer-section text-left"> 
                 <h5 class="text-uppercase">Contact us</h5>
                    <strong class="m-top-30">Headquarters</strong> <p class="footer-address">169 11th st,</p> 
                    <p class="footer-address">San Francisco, CA 94103</p> 
                    <p class="footer-address">+1(781).469.0422 </p> </div>
  </div> 
  <div class="col-md-3 col-sm-6 col-xs-12 footer-section-container social-links-container vertical-center"> 
      <h5 class="text-uppercase">Social Links</h5> 
      <div class="social-link circle pull-left m-top-30">
      <a href="https://twitter.com/ralphwelbornl"> <i class="fa fa-facebook"></i> </a>
      <a href="https://twitter.com/streamlinesocial"> <i class="fa fa-twitter"></i> </a> 
      <a href="https://www.linkedin.com/in/ralphwelborn/"> <i class="fa fa-linkedin"></i> </a>
  </div> 
</div> 
   <div class="col-md-2 col-sm-6 col-xs-12 footer-section-container"> 
       <div class="footer-section text-left"> 
       <h5 class="text-uppercase">Links</h5> 
       <a class="footer-link transition-link m-top-30" href="/index.html" rel="nofollow">Home</a> <br>
       <a class="footer-link transition-link" href="#about" rel="nofollow">About</a> <br>
       <a class="footer-link transition-link" href="#product">Product</a> <br>
       <a class="footer-link transition-link" href="#method">Method</a> <br>
           <a class="footer-link transition-link" href="#cases" rel="nofollow">Case Studies</a>
           <a class="footer-link transition-link" href="#" rel="nofollow">Blog</a>
       <a class="footer-link transition-link" href="contact.html" rel="nofollow">Contact Us</a>
   </div> 
</div> 
</div> 
<span class="footer-text m-top-10 footer-rights"> ©2018 CapImpact | All Rights Reserved |  <a href="http://www.penguinrandomhouse.com/prh-cookie-disclosure-policy/" target="_blank">Disclosure Policy</a></span>
</div> 
</div>

<!--</footer>-->
