<!-- Start  Loading Section -->
<div class="loading-overlay">
  <div class="spinner">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>
<!-- end loading section -->

<!-- start header -->
<header id="pageHeader" class="header  {{ page.headerBackgroundStyle }}">
  <div class="header-spacer">
    <div class="header-menu">
      <div class="box box--wide clearfix">

        <div class="logo">
          <a href="index.html">
            <img class="logo__img" src="/assets/images/logo.png" alt="">
            <img class="logo__img--inversed" src="/assets/images/logo-color.png" alt="">
          </a>
        </div>
        <div class="header-menu__right-bar">
          <a href="/contact.html" class="btn-main btn-main--sm ">Contact Us</a>
        </div>
        <a href="index.html#" class="mobile-btn">
          <span></span>
          <span></span>
          <span></span>
        </a>
        <div class="nav-mobile">
          <ul class="b-list nav">
            <li><a href="#top" class="nav-link">Home</a></li>
            <li><a href="#about" class="nav-link">About</a></li>
            <li><a href="#products" class="nav-link">Products</a></li>
            <li><a href="#method" class="nav-link">Method</a></li>
            <li><a href="#case" class="nav-link">Case Studies</a></li>
            <li><a href="#team" class="nav-link">Team</a></li>
            <li><a href="#" target="_blank" class="btn-main--trans">Blog</a></li>
          </ul>
        </div>
        <div class="navigation body-title">
          <ul class="b-list nav">
            <li><a href="#top" class="nav-link">Home</a></li>
            <li><a href="#about" class="nav-link">About</a></li>
            <li><a href="#products" class="nav-link">Products</a></li>
            <li><a href="#method" class="nav-link">Method</a></li>
            <li><a href="#case" class="nav-link">Case Studies</a></li>
            <li><a href="#team" class="nav-link">Team</a></li>
            <li><a href="#" target="_blank" class="btn-main btn-head-paper btn-main--trans">Blog</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- end header -->
